In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

In [3]:
df = pd.read_csv('train.csv')
#df = pd.read_csv('/kaggle/input/airline-passenger-satisfaction/train.csv')
#df_test = pd.read_csv('/kaggle/input/airline-passenger-satisfaction/test.csv')

categorical_columns = df.dtypes[df.dtypes == 'object'].index
numerical_columns = df.dtypes[df.dtypes != 'object'].index

In [4]:
df.head(2)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied

In [5]:
df.shape

(103904, 25)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,103904.0,51951.500000,29994.645522,0.0,25975.75,51951.5,77927.25,103903.0
id,103904.0,64924.210502,37463.812252,1.0,32533.75,64856.5,97368.25,129880.0
Age,103904.0,39.379706,15.114964,7.0,27.00,40.0,51.00,85.0
Flight Distance,103904.0,1189.448375,997.147281,31.0,414.00,843.0,1743.00,4983.0
Inflight wifi service,103904.0,2.729683,1.327829,0.0,2.00,3.0,4.00,5.0
Departure/Arrival time convenient,103904.0,3.060296,1.525075,0.0,2.00,3.0,4.00,5.0
Ease of Online booking,103904.0,2.756901,1.398929,0.0,2.00,3.0,4.00,5.0
Gate location,103904.0,2.976883,1.277621,0.0,2.00,3.0,4.00,5.0
Food and drink,103904.0,3.202129,1.329533,0.0,2.00,3.0,4.00,5.0
Online boarding,103904.0,3.250375,1.349509,0.0,2.00,3.0,4.00,5.0
Seat comfort,103904.0,3.439396,1.319088,0.0,2.00,4.0,5.00,5.0
Inflight entertainment,103904.0,3.358158,1.332991,0.0,2.00,4.0,4.00,5.0
On-board service,103904.0,3.382363,1.288354,0.0,2.00,4.0,4.00,5.0
Leg room service,103904.0,3.351055,1.315605,0.0,2.00,4.0,4.00,5.0
Baggage handling,103904.0,3.631833,1.180903,1.0,3.00,4.0,5.00,5.0
Checkin service,103904.0,3.304290,1.265396,0.0,3.00,3.0,4.00,5.0
Inflight service,103904.0,3.640428,1.175663,0.0,3.00,4.0,5.00,5.0
Cleanliness,103904.0,3.286351,1.312273,0.0,2.00,3.0,4.00,5.0
Departure Delay in Minutes,103904.0,14.815618,38.230901,0.0,0.00,0.0,12.00,1592.0
Arrival Delay in Minutes,103594.0,15.178678,38.698682,0.0,0.00,0.0,13.00,1584.0

In [8]:
df['Arrival Delay in Minutes'].isnull().sum()/df['Arrival Delay in Minutes'].count() * 100

0.29924513002683556

In [9]:
# sns.pairplot(df)

In [10]:
def onehot_encode(df, column):
    df = df.copy()
    # dummies = pd.get_dummies(df[column], prefix=column)
    dummies = pd.get_dummies(df[column], prefix=column, drop_first = True)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop(column, axis=1)
    return df

In [11]:
for col in categorical_columns:
    df = onehot_encode(df, col)

In [12]:
df.head()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,...,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,0,70172,13,460,3,4,3,1,5,3,...,5,5,25,18.0,1,0,1,0,1,0
1,1,5047,25,235,3,2,3,3,1,3,...,4,1,1,6.0,1,1,0,0,0,0
2,2,110028,26,1142,2,2,2,2,5,5,...,4,5,0,0.0,0,0,0,0,0,1
3,3,24026,25,562,2,5,5,5,2,2,...,4,2,11,9.0,0,0,0,0,0,0
4,4,119299,61,214,3,3,3,3,4,5,...,3,3,0,0.0,1,0,0,0,0,1

In [13]:
df.columns

Index(['Unnamed: 0', 'id', 'Age', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Gender_Male', 'Customer Type_disloyal Customer',
       'Type of Travel_Personal Travel', 'Class_Eco', 'Class_Eco Plus',
       'satisfaction_satisfied'],
      dtype='object')

In [15]:
# Drop ID column
df.drop(['id','Unnamed: 0'], axis=1, inplace = True)

## Work in progress